:root {
  --font-Mont: "Mont";
  --color-main: rgb(0, 0, 0);
  --color-silver: rgb(245,245,245);
  --color-green: rgb(4, 145, 144);
  --color-pink: rgb(236, 65, 95);
}

* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

a {
  color: inherit;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 100%;
}

section {
  padding-top: 3.5rem;
}
@media screen and (min-width: 992px) {
  section {
    padding-top: 7.5rem;
  }
}

.a-size-20 {
  width: 20%;
}

@media screen and (min-width: 992px) {
  .a-size-lg-75 {
    width: 75%;
  }
}

@media screen and (min-width: 992px) {
  .a-size-lg-60 {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .a-size-lg-50 {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .a-size-lg-40 {
    width: 40%;
  }
}

.a-bg-silver {
  background-color: var(--color-silver);
}

.a-green {
  color: var(--color-green);
}

.btn-bordered {
  color: var(--color-main);
  text-decoration: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1;
  min-width: 8rem;
  padding: 1.1125rem 2rem;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 0.15s;
  border: 1px solid var(--color-main);
  box-shadow: 3px 3px 0 0 var(--color-main);
}
.btn-bordered-green {
  border: 1px solid var(--color-green);
  box-shadow: 3px 3px 0 0 var(--color-green);
}

.header {
  box-shadow: 1px 1px 10px var(--color-silver);
}
.header nav.navbar {
  padding: 0;
}
.header .navbar-brand {
  width: 15%;
}
.header .navbar-toggler {
  padding: 0.7rem 0;
}
.header .dropdown-menu {
  max-width: 100%;
  max-width: 240px;
}
.header a.nav-link {
  font-weight: 500;
  transition: all 0.4s ease 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid transparent;
}
@media screen and (min-width: 992px) {
  .header a.nav-link {
    padding: 1.5rem 0;
  }
}
.header a.nav-link.dropdown-item, .header a.nav-link.dropdown-toggle {
  padding: 0.5rem 0;
}
.header a.nav-link.dropdown-toggle {
  font-weight: 500;
  transition: all 0.4s ease 0;
  padding: 1.5rem 0;
  border-bottom: 2px solid transparent;
}
.header a.nav-link.dropdown-item {
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .header a.nav-link.dropdown-item {
    box-shadow: 1px 1px 10px var(--color-silver);
  }
}
.header a.nav-link:hover {
  color: var(--color-green);
}
.header a.nav-link.active {
  border-bottom: 2px solid var(--color-green);
}
.header .offcanvas.show .offcanvas-header {
  display: flex;
  justify-content: end;
}

.projects a:hover {
  color: inherit;
}

.contacts {
  font-size: 1.175rem;
}
.contacts .contacts__info {
  box-shadow: 10px 10px 1px var(--color-pink);
}
.contacts .contacts__textarea {
  resize: none;
  height: 144px;
}
.contacts .contacts__agree {
  font-size: 0.925rem;
}
.contacts button {
  color: var(--color-green);
}

.map iframe {
  width: 100%;
  height: 450px;
}
@media screen and (min-width: 992px) {
  .map iframe {
    height: 640px;
  }
}

.accordion-button:not(.collapsed), .accordion-button:focus {
  color: inherit;
  background-color: transparent;
  box-shadow: none;
}

.footer {
  margin-top: 3.5rem;
  padding: 0.75rem 0;
  border-top: 2px dashed var(--color-main);
}
@media screen and (min-width: 992px) {
  .footer {
    margin-top: 6.5rem;
    padding: 1.75rem 0;
  }
}